In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.utils import resample


from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_excel('Desktop/Tunde/Data Science Course 2020/Processed_data_TF.xlsx')

In [3]:
data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Day of the Week,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,1,289,33,30,0,2,1,1
1,0,0,0,0,1,118,50,31,0,1,0,0
2,0,0,0,1,2,179,38,31,0,0,0,0
3,1,0,0,0,3,279,39,24,0,2,0,1
4,0,0,0,1,3,289,33,30,0,2,1,0

# Balance the Data Set

In [4]:
# Count the targets that are 1s and keep as many 0s as there are 1s (we will delete the rest)

In [5]:
data['Excessive Absenteeism'].value_counts()

0    381
1    319
Name: Excessive Absenteeism, dtype: int64

In [6]:
pct_of_1s = (data['Excessive Absenteeism'].sum()/data['Excessive Absenteeism'].shape[0]) * 100

In [7]:
print('{0:.2f}%'.format(pct_of_1s))

45.57%

In [8]:
data_minority = data[data['Excessive Absenteeism'] == 1]
data_majority = data[data['Excessive Absenteeism'] == 0]

In [9]:
# Up-sample minority class
data_minority_upsampled = resample(data_minority, replace=True, n_samples=381, random_state=42 )

In [10]:
# Combine majority class with upsampled minority class
data_upsampled = pd.concat([data_majority,data_minority_upsampled],ignore_index=True)

In [11]:
data_upsampled

,Reason_1,Reason_2,Reason_3,Reason_4,Day of the Week,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,0,1,118,50,31,0,1,0,0
1,0,0,0,1,2,179,38,31,0,0,0,0
2,0,0,0,1,3,289,33,30,0,2,1,0
3,0,0,0,1,4,179,38,31,0,0,0,0
4,1,0,0,0,2,179,38,31,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
757,0,0,0,1,4,260,36,23,0,4,0,1
758,1,0,0,0,4,118,37,28,0,0,0,1
759,1,0,0,0,3,330,28,25,1,0,0,1
760,1,0,0,0,3,361,28,27,0,1,4,1
761,1,0,0,0,4,246,41,23,0,0,0,1

In [12]:
data_upsampled['Excessive Absenteeism'].value_counts()

1    381
0    381
Name: Excessive Absenteeism, dtype: int64

In [13]:
# Check Point
data_balanced = data_upsampled.copy()

# Split data to Input & Target

In [14]:
X = data_balanced.iloc[:,:-1]
y = data_balanced.iloc[:,-1]

# Standardise, Shuffle & Split input data into Train (+ Validation) and Test

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
x = scaler.transform(X)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.10,random_state=42,shuffle=True)

In [20]:
np.savez('Absenteeism_data_train_v2',inputs=x_train, target=y_train)
np.savez('Absenteeism_data_test_v2',inputs=x_test, target=y_test)